<a href="/search/">return</a>
<div>
	<p><b>Book Informations</b></p>
	<table border="1">
	<tr>
		<th>ISBN</th>
		<th>Title</th>
		<th>Publisher</th>
		<th>PublishDate</th>
		<th>Price</th>
	</tr>
	<tr>
		<th>{{bk.ISBN}}</th>
		<th>{{bk.Title}}</th>
		<th>{{bk.Publisher}}</th>
		<th>{{bk.PublishDate}}</th>
		<th>{{bk.Price}}</th>
	</tr>
	<table>
</div>

<div>
	<p><b>Author Informations</b></p>
	<table border="1">
	<tr>
		<th>Name</th>
		<th>Age</th>
		<th>AuthorID</th>
		<th>Country</th>
	</tr>
	<tr>
		<th>{{author.Name}}</th>
		<th>{{author.Age}}</th>
		<th>{{author.AuthorID}}</th>
		<th>{{author.Country}}</th>
	</tr>
</div>
